<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add a New Flavor</title>
</head>
<body>

<form th:object="${newFlavor}" th:action="@{/update/{id}(id=${newFlavor.id})}" method="post" name="form" onsubmit="return checkForm(form)">
Flavor: <input name="flavor" size="15" th:field="*{flavor}"><br/>
Toppings: <input name="toppings" size="15" th:field="*{toppings}"><br/>
Number of Scoops: <input name="numScoops" size="1" th:field="*{numScoops}"><br/>
<input name="Submit" type="submit" value="Submit">
</form>

<a href="viewAll">View all flavors</a>

<script type="text/javascript">
	function checkForm(form){
		if(form.flavor.value == ""){
			alert("Please input flavor");
			form.flavor.focus();
			return false;
		}
		if(form.toppings.value == ""){
			alert("Please input topping");
			form.toppings.focus();
			return false;
		}
		if(form.numScoops.value == 0 || form.numScoops.value == ""){
			alert("Please input number of scoops");
			form.numScoops.focus();
			return false;
		}
		var re = /^[\w ]+$/;
		
		if(!re.test(form.flavor.value)){
			alert("Error: Input contains invalid characters");
			form.flavor.focus();
			return false;
		}
		if(!re.test(form.toppings.value)){
			alert("Error: Input contains invalid characters");
			form.toppings.focus();
			return false;
		}
		if(!re.test(form.numScoops.value)){
			alert("Error: Input contains invalid characters");
			form.numScoops.focus();
			return false;
		}
		
		return true;
	}
</script>
</body>
</html>