<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add a New Flavor</title>
</head>
<body>

<form th:object="${newFlavor}" th:action="@{/update/{id}(id=${newFlavor.id})}" method="post">
Flavor: <input name="flavor" size="15" th:field="*{flavor}"><br/>
Toppings: <input name="toppings" size="15" th:field="*{toppings}"><br/>
Number of Scoops: <input name="numScoops" size="1" th:field="*{numScoops}"><br/>
<input name="Submit" type="submit" value="Submit">
</form>

<a href="viewAll">View all flavors</a>
</body>
</html>